:root{
    --main-color: rgb(188, 188, 188); 
    --second-color: rgb(36, 34, 46);
    --third-color: rgb(15, 0, 103);
    --bg-color:rgb(234, 234, 234);
}
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--third-color); /* scrollbar color*/
}
::-webkit-scrollbar-track {
    background-color: var(--main-color); /* background color*/
  }
body{
    margin: 0px;
    padding: 0px;
    height: 105vh;
    position: relative;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: var(--bg-color);
    font-family: monospace;
}
.header {
    top: 0px;
    position: sticky;
    display: grid;
    grid-template-columns: 2fr 3fr;
    align-items: center;
    padding: .5rem 0rem;
    background-color: var(--main-color);
    color: var(--second-color);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom: 1px solid var(--third-color);
}
.header div{
    padding-left: 5rem;
}
.header .title {
    font-size: 2rem;
    font-weight: bold;
}
.header .title:hover{
    font-weight: 900;
    font-size: 2.1rem;
    color: var(--third-color);
}
.header div button {
    font-size: 1rem;
    font-weight: bold;
    height: 3rem;
    width: 11rem;
    border-radius: 10px;
    color: var(--second-color);
    background-color: var(--main-color);
    border: 2px solid var(--second-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}
.header div button:hover{
    color: var(--bg-color);
    background-color: rgb(142, 142, 142);
    border: 3px inset var(--third-color);
    padding: 0px;
    font-weight: 700;
}
.header div button img{
    height: 1.3rem;
}
.main{
    font-weight: 900;
    font-size: 1rem;
    padding: 2rem;
    display: grid;
    grid-template-rows: auto 1fr;
    gap: .8rem;
}
.dialog {
    background-color: var(--bg-color);
    border: 2px outset var(--second-color);
    border-radius: 10px;
}
.dialog::backdrop{
    background-color: rgb(188, 197, 255);
    opacity: .6;
}
.dialog .book-form{
    padding: 1rem;
    font-size: 1.5rem;
    display: grid;
    gap: 2rem;
}
.book-form .form-title{
    color: rgb(17, 17, 74);
}
.book-form .form-row{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
}
.book-form input, .book-form select {
    border: 1px solid var(--second-color);
    border-radius: 5px;
    font-weight: bold;
    font-size: 1rem;
}
.book-form button{
    font-size: 1rem;
    padding: .5rem;
    border-radius: 8px;
    border: 1px solid var(--second-color);
    background-color: var(--main-color);
    color: var(--third-color);
    font-weight: 600;
}
.close:hover {
    background-color: rgb(255, 122, 122);
}
.addBook:hover{
    background-color: grey;
}
.btnAddBook{
    display: flex;
    justify-content: space-evenly;
}
.main .book{
    color: var(--third-color);
}
/*Container start*/
.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    gap: 2rem;
    justify-content: center;
}
.container .card {
    max-width: 500px;
    height: 300px;
    background-color: rgb(212, 212, 212);
    border-radius: 10px;
    border: 3px solid var(--main-color);
    border-left: 5px solid var(--second-color);
    border-bottom: 5px solid var(--third-color);
    padding: 1rem 3rem;
    display: grid;
    gap: 1rem;
}
.container .card:hover{
    background-color: var(--main-color);
}
.card .bookTitle{
    font-size: 2.2rem;
    justify-self: center;
}
.card .author{
    font-size: 1.5rem;
}
.card .pages{
    justify-self: end;
    color: rgb(58, 57, 57);
}
.card .progress{
    justify-self: center;
    color: rgb(58, 57, 57);
}
.card .buttons {
    display: flex;
    justify-content: space-evenly;
    gap: .8rem;
}
.card .buttons button{
    border-radius: 10px;
    border: 1px solid var(--second-color);
    font-size: 1rem;
    font-weight: 600;
    color: var(--second-color);
}
.card .buttons .read{
    background-color: rgb(139, 255, 189);
    flex: 1;
}
.card .buttons .read:hover{
    background-color: rgb(79, 255, 155);
}
.not-read{
    background-color: rgb(255, 139, 139);
}
.not-read:hover{
    background-color: rgb(255, 99, 99);
}
.card .buttons .delete{
    background-color: rgb(255, 139, 139);
    flex: 1;
}
.card .buttons .delete:hover{
    background-color: rgb(255, 99, 99);
}
/*Container end*/

.footer {
    position: sticky;
    bottom: 0px;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 10px 20px var(--third-color);
    font-size: .9rem;
    color: var(--third-color);
    font-weight: 600;
}